@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ccc;
}
.header {
  margin: 4rem;
  text-transform: uppercase; 
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 2rem;
}


.image1 {
  position: absolute;
  left: 0;
  bottom: 0;

}
.image2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;

}
.image3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.image4{
   position: absolute;
   right: 0;
   bottom: 0;
   width: 140px;
}
.image5 {
  position: absolute;
  right: 0;
  left: 0;

}
